$mainColor:#81d5c4;
* {
    padding: 0;
    margin: 0;
    list-style: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ccc;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ccc;
}